ul {
  list-style-type: none;
}

.mb-3 {
  font-family: "Karla", sans-serif;
  font-size: 75px;
}

/* DANS TOP 100 SEARCEHD COINS */

input {
  padding: 7px;
  height: 40px;
}

fieldset {
  margin-bottom: 20px;
}
